@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.fv-layout-section {
  display: flex;
  flex-direction: column;
  height: 100%;

  .fv-main-container {
    display: flex;
    flex: 1;
    min-height: 0; // important for scroll containment
    overflow: hidden;
  }

  .fv-sidebar-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .fv-content-container {
    flex-grow: 1;
    overflow-y: auto;
  }
}