/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables.scss';
@import './assets/scss/mixins.scss';
@import './assets/scss/fv-globals.scss';
@import './assets/scss/icons.scss';
@import './assets//scss/fv-ag-theme.scss';
@import './assets/scss/flag-icons.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}